include LICENSE
include README.md
include setup.py

# Optional safety nets
prune examples
prune integration_tests
prune docs
prune tutorial
prune syntax
prune type_inference/tests
prune type_inference/research/integration_tests
